{
    "env": {
        "node": true,
        "es6": true
      },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ignorePatterns": ["**/dist/*"],
    "rules": {
        "semi": 2
    }
}