.head{
    margin-bottom: 1.5em;
}

.name {
    text-transform: capitalize;
}

.eras {
    width: 80%;
    height: 2.5em;
    border: 3px inset;
    display: flex;
    padding: 2px;
}

.era {
    border: 1px solid;
    height: 2.5em;
    width: 33%;
}

.eraDivider {
    width:33%;
    height: 1em;
    justify-content: space-between;
    
}

.earlyMidLate {
    width: 100%;
    display: flex;
    height: 3em;
}